<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="INFO"></level>
      <appender-ref ref="ADONetTest"/>
    </root>
    
    <!--SQL数据库-->
    <appender name="ADONetTest" type="log4net.Appender.ADONetAppender">
      <bufferSize value="10"/>
      <!-- SQL数据源 ，本地安装SQL客户端-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

      <!-- SQL连接字符串-->
      <connectionString value="data source=172.16.86.58\SQLEXPRESS;initial catalog=Test;integrated security=False;persist security info=True;User ID=sa;Password=6geyue$RFV" />

      <commandText value="INSERT INTO PerformceLog ([UUID],[CallClient],[MethodName],[StartTime],[EndTime],[TimeInterval],[Remarks]) 
                          VALUES (@UUID, @CallClient, @MethodName, @StartTime, @EndTime, @TimeInterval, @Remarks)"/>

      <parameter>
        <parameterName value="@UUID"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="Em.FundTrade.LogExtension.Log.AccessLogLayout">
          <param name="ConversionPattern" value="%property{UUID}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@CallClient"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="Em.FundTrade.LogExtension.Log.AccessLogLayout">
          <param name="ConversionPattern" value="%property{CallClient}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@StartTime"/>
        <dbType value="DateTime"/>
        <layout type="Em.FundTrade.LogExtension.Log.AccessLogLayout">
          <param name="ConversionPattern" value="%property{StartTime}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@EndTime"/>
        <dbType value="DateTime"/>
        <layout type="Em.FundTrade.LogExtension.Log.AccessLogLayout">
          <param name="ConversionPattern" value="%property{EndTime}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@TimeInterval"/>
        <dbType value="long"/>
        <layout type="Em.FundTrade.LogExtension.Log.AccessLogLayout">
          <param name="ConversionPattern" value="%property{TimeInterval}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Remarks"/>
        <dbType value="String"/>
        <layout type="Em.FundTrade.LogExtension.Log.AccessLogLayout">
          <param name="ConversionPattern" value="%property{Remarks}"/>
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="Debug" name="myLogger"/>
      <appender-ref ref="ADONetAppender"/>
    </root>
  </log4net>
</configuration>